.report{
    width: 100%;
    height: 95%;
    box-sizing: border-box;
    padding: 10px 30px;
    position: relative;
    .info_p{
        width: 100%;
        height: 30px;
        background-color: #fff;
        border-radius: 5px;
        line-height: 30px;
        box-sizing: border-box;
        padding-left: 10px;
        .span_fl{
            float: right;
            margin-right: 20px;
            color:#ccc;
        }
    }
    .ul{
        width: 135px;
        background-color: #fff;
        .li_act{
            background-color: #17ADED;
            color:#fff;
        }
    }
    .main{
        position: absolute;
        width: 1325px;
        height: 550px;
        background-color: #fff;
        left: 180px;
        top: 56px;
        border-radius: 5px;
    }
}